cli/config.json
cli/main
cli/test.txt
cli/test.csv

watcher/watcher
notifier/notifier

*/logs
*/*.config
*/.*

*.log
*.deb
*.exe

.vscode

.go-stomp-nominatim
go-stomp-nominatim
go-stomp-nominatim.config


logs
