cli/config.json
cli/main
cli/test.txt
cli/test.csv

vendor/github.com
vendor/gopkg.in/

client/go-stomp-client.config
client/go-stomp-client

watcher/watcher
notifier/notifier

*/logs
*/*.config
*/.*

*.log
*.deb
*.exe

.vscode

.go-stomp-nominatim
go-stomp-nominatim
go-stomp-nominatim.config
go-nominatim

secrets.yml

c
logs
