cli/config.json
cli/main
cli/test.txt
cli/test.csv
worker/logfile*
worker/nsqd/test-client
worker/nsqd/worker
*.log
worker/stomp/go-stomp-nominatim/go-stomp-nominatim
worker/stomp/go-stomp-client/go-stomp-client
*.deb
*.exe

log
go-deb

.vscode

