Package: go-stomp
Version: 2016.07.27-beta1
Maintainer: Kristina <isitiriss@gmail.com>
Architecture: amd64
Section: devel
Description: A package which provides a convertion from geocoordinates into locaton info.
Installed-Size: ?
Priority: extra

