{
	"Global": {
		"ServerAddr": "localhost:61614",
    "ServerUser": "guest",
    "ServerPassword": "guest",
    "QueueFormat": "/queue/",
    "Queue": "/queue/nominatimRequest",
		"DestinQueue": "/queue/nominatimRequest",
		"TestFile": "test.csv"
	},
	"Logs": {
		"Filenames": {
			"ERROR": "errors.log",
			"INFO": "info.log",
			"DEBUG": "debug.log"
		},
		"StderrLvl":"WARNING",
		"Logpath": "logs"
	}
}
