{
	"Global": {
		"ServerAddr": "localhost:61614",
    "ServerUser": "client1",
    "ServerPassword": "111",
    "QueueFormat": "/queue/",
    "Queue": "/queue/nominatimRequest",
		"DestinQueue": "/queue/nominatimRequest",
		"TestFile": "/etc/go-stomp-client/test.csv"
	},
	"Logs": {
		"Filenames": {
			"ERROR": "errors.log",
			"INFO": "info.log",
			"DEBUG": "debug.log"
		},
		"Stderr":"WARNING",
		"Logpath": "/var/log/go-stomp-client/"
	}
}
