{
	"Global": {
		"ServerAddr": "localhost:61614",
    "ServerUser": "client1",
    "ServerPassword": "111",
    "QueueFormat": "/queue/",
    "Queue": "/queue/nominatimRequest"
	},
	"NominatimDB": {
    "DBname": "nominatim",
    "Host": "localhost",
    "User": "geocode1",
    "Password": "_geocode1#"
  },
	"Logs": {
		"Filenames": {
			"ERROR": "errors.log",
			"INFO": "info.log",
			"DEBUG": "debug.log"
		},
		"Stderr":"INFO",
		"Logpath": "logs/"
	}
}
