{
  "Name": "worker-deploy",
  "DirWithUUID": "/var/lib/go-stomp-nominatim",
  "ConnConf": {
    "ServerAddr": "localhost:61614",
    "ServerUser": "guest",
    "ServerPassword": "guest",
    "QueueFormat": "/queue/",
    "HeartBeatError": 15,
    "HeartBeat": 30
  },
  "DiagnConf": {
          "CoeffEMA": 0.1,
          "TopicName": "/topic/worker.status",
          "TimeOut": 5,
          "MachineID": "setName"
  },
  "QueueConf": {
    "QueueName": "/queue/nominatimRequest",
    "QueuePriorName": "/queue/nominatimPriorRequest",
    "ResentFullReq":  true
   },
   "NominatimDB": {
    "DBname": "nominatim",
    "Host": "localhost",
    "User": "geocode1",
    "Password": "_geocode1#"
  },
  "Logs": {
    "Handlers": [
      {"Type": "stderr",
       "Level": "INFO"
      },
      {"Type": "file",
       "Level": "INFO",
       "Filename": "info.log"
      },
      {"Type": "file",
       "Level": "WARN",
       "Filename": "error.log"
      },
      {"Type": "file",
       "Level": "DEBUG",
       "Filename": "debug.log"
      }
    ],
    "CallerInfo": false,
    "Logpath": "/var/log/go-stomp-nominatim"
  }
}
